{% extends "base.html" %}

{% block title %}Contacto{% endblock %}

{% block content %}
    <section class="sesion1">
        <article>
            <h1>Contacto</h1>
            <p>
                Presentado por el aprendiz Andres Payares<br>
                Correo electrónico: 6xHwI@example.com<br>
                Teléfono: 310 123 4567
            </p>
        </article>
        <section class="login-box">
        <article>
            <form action="{{ url_for('submit') }}" method="post">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" rows="4"></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </article>
    </section>
{% endblock %}
