{% extends "base.html" %}

{% block title %}Mejores canciones{% endblock %}

{% block content %}
    <section class="mnt">
        <div>
            <h1>Top 3 Canciones Más Escuchadas de Blessd</h1>
        </div>
        
        
        <div class="image-container">
            <div class="image-item">
                <h2>Mirame</h2> 
                <img src="/static/images/ab67616d0000b273b62a2ec2d61d48f34a368144.jpeg" alt="Mirame" width="400px" height="300px">
            </div>
            <div class="image-item">
                <h2>Tendencia Global</h2> 
                <img src="/static/images/x-41-650x620.png" alt="Tendencia Global" width="400px" height="300px">
            </div>
            <div class="image-item">
                <h2>Call Me</h2> 
                <img src="/static/images/maluma-y-blessd (1).png" alt="Call Me" width="400px" height="300px">
            </div>
        </div>
    </section>
{% endblock %}

