<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
    <center>
    <section>
        <br><br><br><br><br><br><br><br><br>
        <h3>gracias por tu respuesta le envaremos informacion al Correo </h3>
    </section>
    <br><br><br><br>
</center>
<center>
    <a href="{{ url_for('index') }}" class="boton">Volver</a>
</center>

</body>
</html>